@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body,
html {
  font-family: "Roboto", sans-serif;
  line-height: normal;
}

.container {
  width: 100%;
  padding: 0 14px;
  max-width: 1170px;
  margin: 0 auto;
}
@media screen and (min-width: 767px) {
  .container {
    padding: 0 50px;
  }
}

.primary-bg {
  background-color: #FFFFFF;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.live-score-section {
  padding: 30px 0;
  background: linear-gradient(146.92deg, #EA14EC -2.59%, #1246CE 100.83%);
  position: relative;
}
@media screen and (min-width: 767px) {
  .live-score-section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1024px) {
  .live-score-section {
    padding: 80px 0;
  }
}

.dots-bg-left {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
@media screen and (min-width: 1024px) {
  .dots-bg-left {
    left: 0;
    right: 45%;
    top: 0;
  }
}
.dots-bg-left img {
  width: 100%;
  height: 100%;
}

.dots-bg-right {
  position: absolute;
  left: 10%;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 767px) {
  .dots-bg-right {
    left: 28%;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .dots-bg-right {
    left: 41%;
    right: 0;
    bottom: 0;
  }
}
.dots-bg-right img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .desktop-wrapper {
    max-width: 944px;
    margin: auto;
  }
}

.match-header {
  display: flex;
  justify-content: center;
  padding: 0 56px;
}

.match-header-icon img {
  width: 22px;
  color: #FFFFFF;
}

.match-header-text {
  margin-left: 4px;
}

.match-header-text h2 {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .match-header-text h2 {
    font-size: 16px;
  }
}

.match-time {
  padding: 14px 0;
}

.match-time p {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 767px) {
  .match-time p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .match-time p {
    font-size: 14px;
  }
}

.match-status {
  position: relative;
  max-width: 500px;
  margin: 14px auto;
  border: 0.983936px solid rgba(247, 247, 250, 0.2);
}

.live-icon {
  background: #008632;
  border-radius: 20px;
  width: 63px;
  display: flex;
  height: 24px;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
}
.live-icon img {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}
.live-icon span {
  font-weight: 700;
  font-size: 11.8072px;
  line-height: 12px;
  color: #FFFFFF;
}

.teams-vs-section {
  z-index: 1000;
  position: relative;
}

.status-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.team-logo {
  width: 60px;
  height: 58px;
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(17, 23, 32, 0.75);
  border-radius: 98px;
}
@media screen and (min-width: 767px) {
  .team-logo {
    width: 130px;
    height: 128px;
    padding: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .team-logo {
    width: 130px;
    height: 128px;
    padding: 24px;
  }
}
.team-logo img {
  width: 100%;
  height: 100%;
}

.team-border-pink {
  border: 1.97px solid #EA14EC;
  box-shadow: 0px 0px 2px rgba(17, 23, 32, 0.75);
}
@media screen and (min-width: 767px) {
  .team-border-pink {
    border: 3px solid #EA14EC;
  }
}

@media screen and (min-width: 767px) {
  .score-summary-wrapper {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1024px) {
  .score-summary-wrapper {
    padding: 0 20px;
  }
}

@media screen and (min-width: 767px) {
  .score-summary-wrapper.wrapper-reverse .score-summary {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1024px) {
  .score-summary-wrapper.wrapper-reverse .score-summary {
    flex-direction: row-reverse;
  }
}

.score-summary {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.score-summary .total-score {
  font-weight: 700;
  font-size: 17.7108px;
  line-height: 10px;
  color: #FFFFFF;
  opacity: 75%;
}
@media screen and (min-width: 767px) {
  .score-summary .total-score {
    font-size: 20px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .score-summary .total-score {
    font-size: 20px;
    line-height: 14px;
  }
}
.score-summary .overs-desc {
  margin: 0 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  opacity: 75%;
}
@media screen and (min-width: 767px) {
  .score-summary .overs-desc {
    font-size: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .score-summary .overs-desc {
    font-size: 12px;
  }
}
.score-summary .opacity-show {
  opacity: 1;
}

@media screen and (min-width: 767px) {
  .score-summary:first-child .total-score {
    font-size: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .score-summary:first-child .total-score {
    font-size: 28px;
  }
}
.score-summary:last-child {
  border-bottom: none;
}

.vs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .vs-wrapper {
    padding: 15px 0;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  .vs-wrapper {
    padding: 15px 0;
    justify-content: space-between;
  }
}

.vs-team-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .vs-team-card {
    justify-content: unset;
  }
}
@media screen and (min-width: 1024px) {
  .vs-team-card {
    justify-content: unset;
  }
}

.card-reverse {
  flex-direction: row-reverse;
}

.vs-logo {
  background: rgba(255, 255, 255, 0.2);
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 2px;
  border-radius: 12px;
}
@media screen and (min-width: 767px) {
  .vs-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .vs-logo {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 18px;
  }
}
.vs-logo p {
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  color: #f7f7fa;
}
@media screen and (min-width: 767px) {
  .vs-logo p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .vs-logo p {
    font-size: 14px;
  }
}

.required-runs-section {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  border-top: 1px solid rgba(247, 247, 250, 0.2);
  border-bottom: 1px solid rgba(247, 247, 250, 0.2);
}
@media screen and (min-width: 767px) {
  .required-runs-section {
    border-bottom: none;
  }
}
.required-runs-section p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #f7f7fa;
}
@media screen and (min-width: 767px) {
  .required-runs-section p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .required-runs-section p {
    font-size: 16px;
  }
}

.stadium {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.stadium .stadium-info {
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f7f7fa;
}
@media screen and (min-width: 767px) {
  .stadium .stadium-info {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .stadium .stadium-info {
    font-size: 14px;
  }
}

.players-status {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .players-status {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 767px) {
  .players-status-card {
    flex-basis: 50%;
    margin: 0 7px;
  }
}
@media screen and (min-width: 1024px) {
  .players-status-card {
    flex-basis: 50%;
    margin: 0 7px;
  }
}

.player-live-score {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border: 0.5px solid #1f1f1f;
  border-radius: 5px;
}
@media screen and (min-width: 767px) {
  .player-live-score {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .player-live-score {
    justify-content: space-evenly;
  }
}

.player-role {
  padding: 10px 0;
}
.player-role span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.player-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  margin: 6px 0;
  flex-basis: 50%;
}
.player-info .player-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #1c1c28;
  padding: 0 4px;
}
.player-info .current-score {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #E50695;
  margin-left: 5px;
}
.player-info:first-child {
  border-right: 1px solid rgba(31, 31, 31, 0.2);
}
@media screen and (min-width: 1024px) {
  .player-info {
    padding: 7px 10px;
  }
}

.mobile-display {
  display: block;
}
@media screen and (min-width: 767px) {
  .mobile-display {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-display {
    display: none;
  }
}

.display-lg {
  display: none;
}
@media screen and (min-width: 767px) {
  .display-lg {
    display: block;
  }
}

.latest-updates-section {
  padding: 0 0 40px 0;
}

.updates-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 20px 0;
}
@media screen and (min-width: 767px) {
  .updates-header {
    padding: 40px 0 10px 0;
    margin: 0 6px;
  }
}
@media screen and (min-width: 1024px) {
  .updates-header {
    padding: 40px 0 10px 0;
    margin: 0 6px;
  }
}
.updates-header h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c28;
}
@media screen and (min-width: 767px) {
  .updates-header h3 {
    font-size: 20px;
    line-height: 23px;
  }
}
.updates-header .see-more-link {
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  color: #E50695;
}
@media screen and (min-width: 767px) {
  .updates-header .see-more-link {
    font-size: 16px;
    line-height: 19px;
  }
}

.main-card-wrapper {
  background: #F5F5F5;
  position: relative;
}
.main-card-wrapper::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, #ea14ec -2.04%, #1246ce 102.14%);
  border-radius: 0px 0px 5px 5px;
}

.card-image img {
  width: 100%;
  border-radius: 5px;
}

.card-content {
  padding: 15px 11px;
}
.card-content p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgb(31, 31, 31);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px 15px;
}
.card-footer .category {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #1f1f1f;
  opacity: 0.5;
}
.card-footer .share-icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.sub-cards-section {
  padding: 13px 0;
}

.sub-card {
  display: flex;
  flex-wrap: wrap;
  padding: 17px 0;
}

.sub-card-wrapper {
  padding: 15px 11px;
  background: #f5f5f5;
  border-radius: 5px;
}
.sub-card-wrapper .sub-card-content {
  padding-right: 4px;
}
.sub-card-wrapper .sub-card-content p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1f1f1f;
}
.sub-card-wrapper .sub-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0 0;
}
.sub-card-wrapper .sub-card-footer .category {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #1f1f1f;
  opacity: 0.5;
}

.sub-card-image {
  position: relative;
}
.sub-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.sub-card-image::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 2px;
  background: linear-gradient(90deg, #ea14ec -2.04%, #1246ce 102.14%);
  border-radius: 0px 0px 5px 5px;
}

.sub-card-footer .share-icon {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.cards-lg-banner {
  display: flex;
  flex-wrap: wrap;
}
.cards-lg-banner .card-lg {
  flex: 0 0 calc(50% - 12px);
  margin: 6px;
}

.card-lg-content {
  position: relative;
}
.card-lg-content .card-lg-banner-img {
  border-radius: 5px;
  width: 100%;
}
.card-lg-content .class-lg-desc {
  font-weight: 500;
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #f7f7fa;
}
.card-lg-content .card-lg-highlight {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background: linear-gradient(0deg, #0f1c70 -4%, rgba(45, 65, 207, 0) 100%);
}
.card-lg-content::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 4%;
  right: 4%;
  height: 4px;
  background: linear-gradient(90deg, #ea14ec -2.04%, #1246ce 102.14%);
  border-radius: 0px 0px 5px 5px;
}

.card-lg-content .card-lg-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px 15px;
}
.card-lg-content .card-lg-footer .category {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #f7f7fa;
  opacity: 0.5;
}
.card-lg-content .card-lg-footer .share-icon {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.sub-cards-lg-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}

.sub-card-lg {
  flex: 0 0 calc(25% - 12px);
  margin: 6px;
}
.sub-card-lg img {
  width: 100%;
  border-radius: 5px;
}
.sub-card-lg .sub-card-lg-content {
  position: relative;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 5px;
}
.sub-card-lg .sub-card-lg-content::before {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 7%;
  right: 7%;
  height: 4px;
  background: linear-gradient(90deg, #ea14ec -2.04%, #1246ce 102.14%);
  border-radius: 0px 0px 5px 5px;
}
.sub-card-lg .sub-card-lg-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #1f1f1f;
}

@media screen and (min-width: 767px) {
  .sub-card-tab {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .sub-card-tab {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .sub-card-desktop {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .sub-card-desktop {
    display: block;
  }
}

.sub-card-lg-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}
.sub-card-lg-footer .category {
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  color: #1f1f1f;
  opacity: 0.5;
}
.sub-card-lg-footer .share-icon {
  cursor: pointer;
  width: 12px;
  height: 12px;
}/*# sourceMappingURL=style.css.map */